@import "base.scss";
body {
    background: url(../assets/partner.svg) no-repeat top left;
    background-size: cover;
}
.dropdown {
    position: fixed;
    z-index: 10;
}
.header {
    .icon {
        font-size: 50px;
        color: $primary-color;
    }
    h1 {
        margin-top: 140px;
        margin-bottom: 25px;
    }
}
.applications-page {

}
