@import "base.scss";
body {
    background: url(../assets/partner.svg) no-repeat top left;
    background-size: cover;
}
.applications-page {
    .header {
        .icon {
            font-size: 50px;
            color: $primary-color;
        }
    }
}
