//Dependencies
@import "breakpoints.scss";
@import "bourbon/bourbon";
//Colors
$official-primary-color: #E62B1E;
$primary-color: #E56B62;
$primary-alt-1-color: #BF5952;
$primary-alt-2-color: #FFF2F1;
$official-secondary-color: #000000;
$secondary-color: #312C35;
$secondary-alt-1-color: #171519;
$secondary-alt-2-color: #463F4C;
$tertiary-color: #FFD1CE;
$tertiary-alt-1-color: #EAC9C7;
$tertiary-alt-2-color: #C6A9A7;
$tertiary-alt-3-color: #664C4C;
//Box-sizing default
* {
    box-sizing: border-box;
}


/*
Custom Font Sets
----------------*/
@import 'https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i';
@font-face {
    font-family: "Bariol";
    src: url(../assets/fonts/bariol_regular/bariol_regular_webfont.eot) format("eot"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.ttf) format("truetype"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.woff) format("woff"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.woff2) format("woff2"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.otf) format("opentype");
}
@font-face {
    font-family: "Bariol Serif";
    src: url(../assets/fonts/bariol_serif/bariol_serif_regular.ttf) format("truetype"),
        url(../assets/fonts/bariol_regular/bariol_serif_regular.woff2) format("woff2"),
        url(../assets/fonts/bariol_serif/bariol_serif_regular_italic.ttf) format("truetype"),
        url(../assets/fonts/bariol_regular/bariol_serif_regular_italic.woff2) format("woff2");
}
/*
@font-face {
    font-family: "Aleo";
    src: url(../assets/fonts/aleo_regular/aleo_regular_webfont.eot) format("eot"), url(../assets/fonts/aleo_regular/aleo_regular_webfont.ttf) format("truetype"), url(../assets/fonts/aleo_regular/aleo_regular_webfont.woff) format("woff"), url(../assets/fonts/aleo_regular/aleo_regular_webfont.woff2) format("woff2");
}

@font-face {
    font-family: "Erato";
    src: url(../assets/fonts/erato_light/erato_light.otf) format("opentype");
}*/


/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    max-width: 100% !important;
    color: #222;
    line-height: 1.4;
    //overflow-x: hidden !important;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}
/* Default typography
--------------------- */

.primary-text-color {
    color: $official-primary-color;
}

.secondary-text-color {
    color: $primary-alt-2-color;
}

.tertiary-text-color {
    color: $secondary-color;
}

.primary-font {
    font-family: "Fira Sans", sans-serif; //Bariol
}

.secondary-font {
    font-family: "Helvetica Neue", sans-serif; //Erato
}

.tertiary-font {
    font-family: "Helvetica", serif; //Aleo
}

body {
    @extend .tertiary-font;
    //This size affects all other sizes
    //font-size: 30%;
    text-decoration: none;
    overflow-x: hidden;
}

.font-fix {
    font-kerning: auto;
}

.primary-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $primary-color;
    font-size: 5.248em;
    font-weight: 800;
    line-height: 1.2;
}

.secondary-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $official-secondary-color;
    font-size: 3.274em;
    line-height: 1.1;
}

.tertiary-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $secondary-color;
    font-size: 2.50em;
    line-height: 1.2;
}

.optional-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $secondary-alt-2-color;
    font-size: 1.938em;
    line-height: normal;
}

.sub-title {
    @extend .font-fix;
    @extend .primary-font;
    color: $official-primary-color;
    font-size: 1.517em;
    line-height: 20px;
}

.description-text {
    @extend .tertiary-font;
    @extend .font-fix;
    color: $secondary-alt-2-color;
    font-size: 1.08em;
    letter-spacing: 0px;
    line-height: 30px;
}

.body-text {
    /* Motivation can take : */
    @extend .secondary-font;
    @extend .font-fix;
    font-size: 1em;
    color: #171519;
    letter-spacing: 0px;
    line-height: 22px;
}

.detail {
    @extend .secondary-font;
    @extend .font-fix;
    $secondary-alt-2-color: #463F4C;
    font-size: 0.8em;
}


/*
Default button styles
---------------------*/

.button {
    border: none;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: baseline;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 0px;
    background-color: $secondary-alt-1-color;
    color: $primary-alt-2-color;
    letter-spacing: 2.1px;
    line-height: 14px;
    font-family: "Bariol", sans-serif;
    font-size: 0.625em;
    font-weight: 700;
//    font-smooth: 1em;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
    padding: 0px;
    a {
        height: 100%;
        width: 100%;
        display: block;
        padding: 10px 20px;
    }
}
.button-secondary {
    @extend .button;
    text-transform: none;
    background-color: $tertiary-alt-2-color;
    box-shadow: none;
    @include transition(background-color 0.25s ease-out, color 0.25s ease-out);
    a {
        font-size: 1.5em;
        font-weight: bold;
    }
    &:hover {
        background-color: $tertiary-alt-3-color;
    }
}

/* Link clear defaults
-------------------*/

a:active {
    outline: 0;
}

a:visited {
    outline: 0;
}

a {
    color: inherit;
    &:hover {
        color: inherit;
    }
    &:active,
    &:focus {
        color: inherit;
    }
}


/* Shared elements
------------------*/
/* Header */
.section-header {
    padding: 10px 0px;
}
.piece-header-wrapper {
    padding: 20px 0px;
    min-height: 125px;
    height: auto;
    position:relative;
}
.piece-header {
    position: absolute;
    background-color: $primary-alt-1-color;
    color: white;
    padding: 15px;
    height: auto;
    width: auto;
    border-radius: 10px;
    @include transform(rotate(-4deg));
    @include small-only {
        font-size: 2em;
    }
    @include medium-only {
        font-size: 2.5em;
    }
}

/* Page content */
.section-content {
    .slate {
        opacity: 0.97;
        overflow-y: auto;
    }
}
/* Footer */
footer {
    width: 100%;
    background-color: $official-secondary-color;
    color: white;
    min-height: 150px;
}
/* Footer */
.section-footer {
    z-index: -3;
    width: 100%;
    padding-top: 20px;
    color: white !important;
    min-height: 200px;
    background: url(../assets/footer.svg) no-repeat top left;
    background-size: cover;
    .detail {
        padding: 0px 0px 10px 10px;
    }
    .logo {
        max-height: 150px;
        width: auto;
        padding: 30px 0px 0px 0px;
    }
    .button {
        margin: 0px 0px 10px 0px;
        a {
            height: 100%;
            width: 100%;
        }
    }
    .contact {
        .button {
            margin: 0px 0px 15px 15px;
        }
    }
    .social {
        padding-left: 5px;
        li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
        i {
            font-size: 3em;
        }
    }
    @include small-only {
        .contact {
            margin: 0px auto;
            display: table;
            > * {
                display: table-cell;
            }
        }
        .logo {
            height: 110px;
        }
        .detail {
            text-align: center;
        }
        .social {
            li {
                padding: 0px;
            }
        }
    }
}

.slate {
    background-color: $primary-alt-2-color;
    box-shadow: 0px 3px 5px 0px rgba(70, 63, 76, 0.30);
    padding: 20px;
}

.card {
    color: $primary-alt-2-color;
    background: $secondary-alt-2-color; //463F4C
    box-shadow: 0px 3px 0px 0px #312C35, 0px 3px 5px 0px rgba(70, 63, 76, 0.50);
    padding: 15px;
}
.piece {
    margin: 20px 0px;
    h1, h2 {
        padding: 5px;
    }
    .sub-title {
        padding-bottom: 30px;
    }
}
.box {
    margin: 10px;
    padding: 20px;
}
img {
    padding: 10px;
}

.profile {
    img {
        max-height: 200px;
        width: auto;
        margin: 0 auto;
    }
}

.icon {
    height: 100px;
    width: auto !important;
    pointer-events: none;
}

.icon-small {
    height: 25px;
    width: auto !important;
    pointer-events: fill;
}

table {
    width: auto;
    height: auto;
    border-spacing: 5px;
    empty-cells: show;
    border: 3px dashed #cbcbcb;
    thead {
        background-color: #e0e0e0;
        text-align: left;
        vertical-align: bottom;
        tr {
            border-bottom: 3px dashed #cdcdcd;
        }
    }
    tfoot {
        background-color: #e0e0e0;
        text-align: left;
        vertical-align: middle;
    }
    td,
    th {
        padding: 20px;
    }
}


/* START OF MENU STUFF */


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: $tertiary-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


/* Links inside the dropdown */

#main-menu {
    padding: 10px 20px;
}

.dropdown-content a {
    color: $official-secondary-color;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: $tertiary-alt-2-color
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}


/* END OF MENU STUFF */


/* Particle background */

#particles-js {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.subway-divider {
    padding: 10px 0px;
    div {
        height: 10px;
        width: 100px;
        background-color: $primary-color;
        border-radius: 50px;
    }
}


/* Utilities
--------------*/

.center-text {
    text-align: center;
}

.zero-margin {
    margin: 0px;
}

.inherit-height {
    height: inherit;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}


/* Centering Hack
--------------*/

.content {
    margin: 0px auto;
    display: table;
}

//First descendant, any element
.content > * {
    display: table-cell;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


/*
FOUNDATION FIXES
*/

.row .row {
    margin: 0;
}
/* TURNTABLE */
.turntable {
  margin: 0px;
}
.turntable ul {
  padding: 0px;
  margin: 0px;
}
.turntable ul li {
  list-style-type: none;
  display: none;
}
.turntable ul li img {
  width: 100%;
}
.turntable ul li.active {
  display: block;
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
