$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 992px;
$large-desktop-width: 1200px;
$phone-max-width: 48em;
$tablet-max-width: 63.9375em;
$desktop-min-width: 64em;
$desktop-max-width: 74.9375em;

/* Small only */
@mixin small-only {
    @media screen and (max-width:#{$phone-max-width}) {
        @content;
    }
}
/* Medium up */
@mixin medium-up {
    @media screen and (min-width:#{$phone-max-width}) {
        @content;
    }
}
/* Medium only */
@mixin medium-only {
    @media screen and (min-width: #{$phone-max-width}) and (max-width: #{$tablet-max-width}) {
        @content;
    }
}
/* Large and up */
@mixin desktop-up {
    @media screen and (min-width: #{$desktop-min-width}) {
    }
}
@mixin large-desktop-up {
    @media only screen and (min-width: #{$large-desktop-width}) {
        @content;
    }
}
