/* ==========================================================================
   Media Queries
   ========================================================================== */
/*@media only screen and (min-width: 320px) {
    body {
        font-size: 8px;
    }
}
@media only screen and (min-width: 480px) {
    body {
        font-size: 12px;
    }
}
@media only screen and (min-width: 533px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 850px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1140px) {
    body {
        font-size: 16px;
    }
}*/
/* Small only */
@media screen and (max-width: 48em) {
  .sponsor-page .benefit-piece {
    font-size: 8px; }
    .sponsor-page .benefit-piece table {
      border-spacing: 2px !important; }
      .sponsor-page .benefit-piece table td, .sponsor-page .benefit-piece table th {
        padding: 5px !important; }
      .sponsor-page .benefit-piece table thead th:not(:first-child) {
        text-align: center; }
    .sponsor-page .benefit-piece .checkmark {
      height: 30px !important; }
  .sponsor-page .header {
    margin-top: 5px; }
  .sponsor-page .partner-piece {
    margin: 0px; }
    .sponsor-page .partner-piece img {
      height: 80px; }

  .section-footer .content, .section-footer .contact {
    margin: 0px auto;
    display: table; }
  .section-footer .content > *, .section-footer .contact > * {
    display: table-cell; }
  .section-footer .logo {
    height: 110px; }
  .section-footer .detail {
    text-align: center; }
  .section-footer .social li {
    padding: 0px; } }
/* Medium and up */
/* Medium only */
@media screen and (min-width: 48em) and (max-width: 63.9375em) {
  .budget-piece table {
    border-spacing: 5px; }
    .budget-piece table * {
      font-size: 15px; }
    .budget-piece table td, .budget-piece table th {
      padding: 15px; }
    .budget-piece table img {
      max-height: 15px;
      padding: 0px; } }
/* Large and up */
/* Large only */
