/* ==========================================================================
   Media Queries
   ========================================================================== */
/*@media only screen and (min-width: 320px) {
    body {
        font-size: 8px;
    }
}
@media only screen and (min-width: 480px) {
    body {
        font-size: 12px;
    }
}
@media only screen and (min-width: 533px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 850px) {
    body {
        font-size: 14px;
    }
}
@media only screen and (min-width: 1140px) {
    body {
        font-size: 16px;
    }
}*/
/* Small only */
@media screen and (max-width: 48em) {
    .benefit-piece table {
        border-spacing: 2px;
        * {
            font-size: 10px;
        }
        td, th {
            padding: 8px;
        }
        .checkmark {
            height: 15px;
            padding: 0px;
        }
    }
    .section-footer {
        //SASS needs class to be in same directive.
        .content {
            margin: 0px auto;
            display: table;
        }

        //First descendant, any element
        .content > * {
            display: table-cell;
        }
        //End of content fill
        .contact {
            @extend .content;
        }
        .logo {
            height: 110px;
        }
        .detail {
            text-align: center;
        }
        .social {
            li {
                padding: 0px;
            }
        }
    }
}

/* Medium and up */
@media screen and (min-width: 48em) {
}

/* Medium only */
@media screen and (min-width: 48em) and (max-width: 63.9375em) {
    .budget-piece table {
        border-spacing: 5px;
        * {
            font-size: 15px;
        }
        td, th {
            padding: 15px;
        }
        img {
            max-height: 15px;
            padding: 0px;
        }
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
