@import "base.scss";
body {
    background: url(../assets/theme.svg) no-repeat top left;
    background-size: cover;
}
/* Shared elements */
.piece {
    margin: 20px 0px;
}
/* Landing page */
.landing-page{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.landing-title {
    display: inline-block;
    text-align: center;
    word-wrap: break-word;
}
#reveal {
    position: relative;
    z-index: 5;
    padding: 10px 20px;
    font-family: "Bariol", sans-serif;
    font-size: 0.625em;
    -webkit-transition: visibility 0s 0.3s, opacity 1.2s ease-in-out 0s;
    -moz-transition: visibility 0s 0.3s, opacity 1.2s ease-in-out 0s;
    transition: visibility 0s 0.3s, opacity 1.2s ease-in-out 0s;
}
.landing-page-box {
    height: inherit;
}
/* Blinking Cursor */
.typed-cursor {
    font-size: 50px;
    display: inline-block;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Intro Page */
.intro-page {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    visibility: hidden;
}
.intro-footer {
    color: $primary-alt-2-color;
    position: relative;
    display: block;
    z-index: -10;
    height: 100px;
    background-color: $secondary-alt-1-color;
    box-shadow: 0px 3px 10px 5px $secondary-alt-2-color;
    p {
        position: absolute;
        margin: 10px 0%;
        height: 30px;
        width: 100%;
        vertical-align: middle;
        bottom: 0;
    }
}
.profile {
    img {
        -webkit-filter: hue-rotate(190deg);
        -moz-filter: hue-rotate(190deg);
        filter: hue-rotate(190deg);
    }
}
.checkmark {
    height: 50px;
}
.checkmark:hover {
    -webkit-filter: hue-rotate(225deg);
    -moz-filter: hue-rotate(225deg);
    filter: hue-rotate(225deg);
}
.piece {
    h1, h2 {
        padding: 5px;
    }
    .sub-title {
        padding-bottom: 30px;
    }
}
//.benefit-piece {
//    tbody {
//        background-color: transparent;
//    }
//    table tbody tr:nth-child(even) {
//        background-color: transparent;
//    }
//}
/* Ink Splash */
.modal-close {
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 15px;
  right: 2%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: $secondary-alt-1-color url(../assets/icons/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.modal-close:hover {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.transition-layer .bg-layer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-2%);
    height: 100%;
    /* 25 frame sprite */
    width: 2500%;
    background: url(../assets/ink.png) no-repeat 0 0;
    background-size: 100% 100%;
}
@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
}
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%);
  }
}
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
}
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
  }
}
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%);
  }
}
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%);
  }
}

.transition-layer.visible {
    opacity: 1;
    visibility: visible;
}

.transition-layer.opening .bg-layer {
    animation: cd-sequence 0.8s steps(24);
    animation-fill-mode: forwards;
}
.transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
