/* Small only */
/* Medium up */
/* Medium only */
/* Large and up */
@import "https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,500,500i";
* {
  box-sizing: border-box; }

/*
Custom Font Sets
----------------*/
@font-face {
  font-family: "Bariol";
  src: url(../assets/fonts/bariol_regular/bariol_regular_webfont.eot) format("eot"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.ttf) format("truetype"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.woff) format("woff"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.woff2) format("woff2"), url(../assets/fonts/bariol_regular/bariol_regular_webfont.otf) format("opentype"); }
@font-face {
  font-family: "Bariol Serif";
  src: url(../assets/fonts/bariol_serif/bariol_serif_regular.ttf) format("truetype"), url(../assets/fonts/bariol_regular/bariol_serif_regular.woff2) format("woff2"), url(../assets/fonts/bariol_serif/bariol_serif_regular_italic.ttf) format("truetype"), url(../assets/fonts/bariol_regular/bariol_serif_regular_italic.woff2) format("woff2"); }
/*
@font-face {
    font-family: "Aleo";
    src: url(../assets/fonts/aleo_regular/aleo_regular_webfont.eot) format("eot"), url(../assets/fonts/aleo_regular/aleo_regular_webfont.ttf) format("truetype"), url(../assets/fonts/aleo_regular/aleo_regular_webfont.woff) format("woff"), url(../assets/fonts/aleo_regular/aleo_regular_webfont.woff2) format("woff2");
}

@font-face {
    font-family: "Erato";
    src: url(../assets/fonts/erato_light/erato_light.otf) format("opentype");
}*/
/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
html {
  max-width: 100% !important;
  color: #222;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.wrapper {
  position: relative;
  height: 100%;
  width: 100%; }

.small-margin {
  margin: 15px 0px; }

/* Default typography
--------------------- */
.primary-text-color {
  color: #E62B1E; }

.secondary-text-color {
  color: #FFF2F1; }

.tertiary-text-color {
  color: #312C35; }

.primary-font, .primary-title, .secondary-title, .tertiary-title, .optional-title, .sub-title {
  font-family: "Fira Sans", sans-serif; }

.secondary-font, .body-text, .detail {
  font-family: "Helvetica Neue", sans-serif; }

.tertiary-font, body, .description-text {
  font-family: "Helvetica", serif; }

body {
  text-decoration: none;
  overflow-x: hidden; }

.font-fix, .primary-title, .secondary-title, .tertiary-title, .optional-title, .sub-title, .description-text, .body-text, .detail {
  font-kerning: auto; }

.primary-title {
  color: #E56B62;
  font-size: 5.248em;
  font-weight: 800;
  line-height: 1.2; }

.secondary-title {
  color: #000000;
  font-size: 3.274em;
  line-height: 1.1;
  font-weight: 600; }

.tertiary-title {
  color: #E62B1E;
  font-size: 2.50em;
  line-height: 1.2; }

.optional-title {
  color: #463F4C;
  font-size: 1.517em;
  line-height: normal; }

.sub-title {
  color: #E62B1E;
  font-size: 1.938em;
  line-height: normal; }

.description-text {
  color: #463F4C;
  font-size: 1.08em;
  letter-spacing: 0px;
  line-height: 30px; }

.body-text {
  /* Motivation can take : */
  font-size: 1em;
  color: #171519;
  letter-spacing: 0px;
  line-height: 25px; }

.detail {
  font-size: 0.8em; }

/*
Default button styles
---------------------*/
.button, .button-secondary {
  border: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  vertical-align: baseline;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 0px;
  background-color: #171519;
  color: #FFF2F1;
  letter-spacing: 2.1px;
  line-height: 14px;
  font-family: "Bariol", sans-serif;
  font-size: 0.625em;
  font-weight: 700;
  padding: 0px; }
  .button a, .button-secondary a {
    height: 100%;
    width: 100%;
    display: block;
    padding: 10px 20px; }
  .button:disabled, .button-secondary:disabled {
    cursor: none;
    pointer-events: none; }
    .button:disabled a, .button-secondary:disabled a {
      text-decoration: line-through; }

.button-secondary {
  text-transform: none;
  background-color: #C6A9A7;
  box-shadow: none;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out; }
  .button-secondary a {
    font-size: 1.5em;
    font-weight: bold; }
  .button-secondary:hover {
    background-color: #664C4C; }

/* Link clear defaults
-------------------*/
a:active {
  outline: 0; }

a:visited {
  outline: 0; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }
  a:active, a:focus {
    color: inherit; }

/* Shared elements
------------------*/
/* Header */
.section-header {
  padding: 10px 0px; }

.piece-header-wrapper {
  padding: 20px 0px;
  min-height: 125px;
  height: auto;
  position: relative; }

.piece-header {
  position: absolute;
  background-color: #BF5952;
  color: white;
  padding: 15px;
  height: auto;
  width: auto;
  border-radius: 10px;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg); }
  @media screen and (max-width: 48em) {
    .piece-header {
      font-size: 2em; } }
  @media screen and (min-width: 48em) and (max-width: 63.9375em) {
    .piece-header {
      font-size: 2.5em; } }

/* Page content */
.section-content .slate {
  opacity: 0.97;
  overflow-y: auto; }

/* Footer */
footer {
  width: 100%;
  background-color: #000000;
  color: white;
  min-height: 150px; }

/* Footer */
.section-footer {
  z-index: -3;
  width: 100%;
  padding-top: 20px;
  color: white !important;
  min-height: 200px;
  background: url(../assets/footer.svg) no-repeat top left;
  background-size: cover; }
  .section-footer .detail {
    padding: 10px 0px 15px 20px; }
  .section-footer .logo {
    max-height: 150px;
    width: auto;
    padding: 30px 0px 0px 0px; }
  .section-footer .button, .section-footer .button-secondary {
    margin: 0px 0px 10px 0px; }
    .section-footer .button a, .section-footer .button-secondary a {
      height: 100%;
      width: 100%; }
  .section-footer .contact .button, .section-footer .contact .button-secondary {
    margin: 0px 0px 15px 15px; }
  .section-footer .social {
    padding-left: 5px; }
    .section-footer .social li {
      display: inline;
      list-style-type: none;
      padding-right: 20px; }
    .section-footer .social i {
      font-size: 3em; }
  @media screen and (max-width: 48em) {
    .section-footer .contact {
      margin: 0px auto;
      display: table; }
      .section-footer .contact > * {
        display: table-cell; }
    .section-footer .logo {
      height: 110px; }
    .section-footer .detail {
      text-align: center; }
    .section-footer .social li {
      padding: 0px; } }

.slate {
  background-color: #FFF2F1;
  box-shadow: 0px 3px 5px 0px rgba(70, 63, 76, 0.3);
  padding: 20px; }

.card {
  color: #FFF2F1;
  background: #171519;
  box-shadow: 0px 3px 0px 0px #312C35, 0px 3px 5px 0px rgba(70, 63, 76, 0.5);
  padding: 15px; }

.piece {
  margin: 20px 0px; }
  .piece h1, .piece h2 {
    padding: 5px; }
  .piece .sub-title {
    padding-bottom: 30px; }

.box {
  margin: 10px;
  padding: 20px; }

img {
  padding: 10px; }

.profile img {
  max-height: 200px;
  width: auto;
  margin: 0 auto; }

.icon {
  height: 100px;
  width: auto !important;
  pointer-events: none; }

.icon-small {
  height: 25px;
  width: auto !important;
  pointer-events: fill; }

table {
  width: auto;
  height: auto;
  border-spacing: 5px;
  empty-cells: show;
  border: 3px dashed #cbcbcb; }
  table thead {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: bottom; }
    table thead tr {
      border-bottom: 3px dashed #cdcdcd; }
  table tfoot {
    background-color: #e0e0e0;
    text-align: left;
    vertical-align: middle; }
  table td,
  table th {
    padding: 20px; }

.label {
  background-color: #664C4C;
  border-radius: 5px;
  color: white;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  vertical-align: top;
  width: auto; }

/* START OF MENU STUFF */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #FFD1CE;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

/* Links inside the dropdown */
#main-menu {
  padding: 10px 20px; }

.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #C6A9A7; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }

/* END OF MENU STUFF */
/* Particle background */
#particles-js {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

.subway-divider {
  padding: 10px 0px; }
  .subway-divider div {
    height: 10px;
    width: 100px;
    background-color: #E56B62;
    border-radius: 50px; }

/* Utilities
--------------*/
.center-text {
  text-align: center; }

.zero-margin {
  margin: 0px; }

.inherit-height {
  height: inherit; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Centering Hack
--------------*/
.content {
  margin: 0px auto;
  display: table; }

.content > * {
  display: table-cell; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/*
FOUNDATION FIXES
*/
.row .row {
  margin: 0; }

/* TURNTABLE */
.turntable {
  margin: 0px; }

.turntable ul {
  padding: 0px;
  margin: 0px; }

.turntable ul li {
  list-style-type: none;
  display: none; }

.turntable ul li img {
  width: 100%; }

.turntable ul li.active {
  display: block; }

.dropdown {
  position: fixed;
  z-index: 10; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
body {
  background: url(../assets/theme.svg) no-repeat top left;
  background-size: cover; }

/* Landing page */
.landing-page {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.landing-title {
  display: inline-block;
  text-align: center;
  word-wrap: break-word; }

#reveal {
  position: relative;
  z-index: 5;
  padding: 10px 20px;
  font-family: "Bariol", sans-serif;
  font-size: 0.625em;
  -webkit-transition: visibility 0s 0.3s, opacity 1.2s ease-in-out 0s;
  -moz-transition: visibility 0s 0.3s, opacity 1.2s ease-in-out 0s;
  transition: visibility 0s 0.3s, opacity 1.2s ease-in-out 0s; }

.landing-page-box {
  height: inherit; }
  .landing-page-box .disclaimer {
    padding-bottom: 15px; }

/* Blinking Cursor */
.typed-cursor {
  font-size: 50px;
  display: inline-block;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Intro Page */
.intro-page {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden; }
  .intro-page .header {
    padding: 20px 10px  0px 10px; }
  .intro-page .dropdown {
    position: fixed;
    z-index: 10; }
  .intro-page .pipe {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center; }
  .intro-page .piece {
    overflow: hidden;
    margin: 50px 0px; }
  .intro-page .summary-piece h1 {
    padding: 0px; }
  .intro-page .summary-piece .button, .intro-page .summary-piece .button-secondary {
    margin-right: 10px; }
  .intro-page .history-piece .card {
    height: 200px;
    width: 200px;
    margin-top: 10px; }
    .intro-page .history-piece .card * {
      color: white; }
    @media screen and (max-width: 48em) {
      .intro-page .history-piece .card {
        max-height: 150px;
        max-width: 150px; } }
  .intro-page .history-piece .conference div {
    padding: 0px 5px; }
  .intro-page .history-piece .conference div:nth-child(1) {
    order: 1; }
  .intro-page .history-piece .conference div:nth-child(2) {
    order: 2; }
  .intro-page .venue-piece .button-secondary > a {
    width: auto;
    padding: 30px;
    font-size: 2em; }
  .intro-page .venue-piece #transit-heading {
    text-align: center; }
  .intro-page .venue-piece #transit {
    width: 100px;
    height: auto; }
  .intro-page .partner-piece img {
    min-height: 75px; }
  .intro-page .partner-piece .card {
    background-color: white;
    padding: 0; }
    .intro-page .partner-piece .card span {
      color: white;
      margin-top: -30px;
      position: relative;
      z-index: 50;
      font-size: 10px;
      text-align: center;
      background-color: #312C35;
      box-shadow: 0px 3px 0px 0px #312C35, 0px 3px 5px 0px rgba(70, 63, 76, 0.5);
      padding: 5px;
      border-radius: 5px; }
    .intro-page .partner-piece .card.small {
      height: 85px;
      padding: 0px; }
      .intro-page .partner-piece .card.small img {
        height: 70px;
        padding: 5px; }
    .intro-page .partner-piece .card.medium {
      height: 150px;
      padding: 0px; }
      .intro-page .partner-piece .card.medium img {
        height: 140px;
        padding: 5px; }
        @media screen and (max-width: 48em) {
          .intro-page .partner-piece .card.medium img {
            margin-top: 15%;
            height: 110px; } }
    .intro-page .partner-piece .card.large {
      height: 200px;
      padding: 0px; }
      .intro-page .partner-piece .card.large img {
        height: 190px;
        padding: 5px; }
        @media screen and (max-width: 48em) {
          .intro-page .partner-piece .card.large img {
            margin-top: 15%;
            height: 115px; } }
    .intro-page .partner-piece .card.xlarge {
      height: 250px;
      padding: 0px; }
      .intro-page .partner-piece .card.xlarge img {
        height: 240px;
        padding: 5px; }
        @media screen and (max-width: 48em) {
          .intro-page .partner-piece .card.xlarge img {
            margin-top: 20%;
            height: 120px; } }
  @media screen and (max-width: 48em) {
    .intro-page .partner-piece {
      margin: 0px; }
      .intro-page .partner-piece img {
        height: 80px; } }
  .intro-page .speaker-piece .row {
    justify-content: center; }
  .intro-page .speaker-piece .box {
    flex: 0 3 auto;
    text-align: center; }
    .intro-page .speaker-piece .box .tertiary-title {
      margin-right: 10px; }
  .intro-page .speaker-piece img {
    width: 350px;
    height: auto; }

.intro-footer {
  color: #FFF2F1;
  position: relative;
  display: block;
  z-index: -10;
  height: 100px;
  background-color: #171519;
  box-shadow: 0px 3px 10px 5px #463F4C; }
  .intro-footer p {
    position: absolute;
    margin: 10px 0%;
    height: 30px;
    width: 100%;
    vertical-align: middle;
    bottom: 0; }

.profile img {
  -webkit-filter: hue-rotate(190deg);
  -moz-filter: hue-rotate(190deg);
  filter: hue-rotate(190deg); }

.checkmark {
  height: 50px; }

.checkmark:hover {
  -webkit-filter: hue-rotate(225deg);
  -moz-filter: hue-rotate(225deg);
  filter: hue-rotate(225deg); }

.wrap {
  position: absolute; }

/* Ink Splash */
.modal-close {
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 2%;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #171519 url(../assets/icons/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s; }

.modal-close:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden; }

.transition-layer .bg-layer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-2%);
  height: 100%;
  /* 25 frame sprite */
  width: 2500%;
  background: url(../assets/ink.png) no-repeat 0 0;
  background-size: 100% 100%; }

@-webkit-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%); }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%); } }
@-moz-keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -moz-transform: translateY(-50%) translateX(-2%); }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -moz-transform: translateY(-50%) translateX(-98%); } }
@keyframes cd-sequence {
  0% {
    /* translateX(-2%) is used to horizontally center the first frame inside the viewport */
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%); }
  100% {
    /* translateX(-98%) (2% + 96) is used to horizontally center the last frame inside the viewport  */
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%); } }
@-webkit-keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%); }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%); } }
@-moz-keyframes cd-sequence-reverse {
  0% {
    -moz-transform: translateY(-50%) translateX(-98%); }
  100% {
    -moz-transform: translateY(-50%) translateX(-2%); } }
@keyframes cd-sequence-reverse {
  0% {
    -webkit-transform: translateY(-50%) translateX(-98%);
    -moz-transform: translateY(-50%) translateX(-98%);
    -ms-transform: translateY(-50%) translateX(-98%);
    -o-transform: translateY(-50%) translateX(-98%);
    transform: translateY(-50%) translateX(-98%); }
  100% {
    -webkit-transform: translateY(-50%) translateX(-2%);
    -moz-transform: translateY(-50%) translateX(-2%);
    -ms-transform: translateY(-50%) translateX(-2%);
    -o-transform: translateY(-50%) translateX(-2%);
    transform: translateY(-50%) translateX(-2%); } }
.transition-layer.visible {
  opacity: 1;
  visibility: visible; }

.transition-layer.opening .bg-layer {
  animation: cd-sequence 0.8s steps(24);
  animation-fill-mode: forwards; }

.transition-layer.closing .bg-layer {
  -webkit-animation: cd-sequence-reverse 0.8s steps(24);
  -moz-animation: cd-sequence-reverse 0.8s steps(24);
  animation: cd-sequence-reverse 0.8s steps(24);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

/* Loader */
.sub {
  display: block;
  background-color: #cdcdcd;
  height: 20px;
  width: 150px;
  margin: 10px 0px;
  border-radius: 50px; }

#sub1 {
  background-color: #ff3333;
  animation: move 1.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite; }

#sub2 {
  background-color: #1a1a1a;
  animation: move-alt 1.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
  animation-direction: reverse; }

@keyframes move {
  0% {
    transform: translateX(-30px); }
  50% {
    transform: translateX(30px); }
  100% {
    transform: translateX(-30px); } }
@keyframes move-alt {
  0% {
    transform: translateX(30px); }
  50% {
    transform: translateX(-30px); }
  100% {
    transform: translateX(30px); } }
#loader {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: white;
  width: 100vw;
  position: absolute; }

/* Small only */
@media screen and (max-width: 48em) {
  body {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.9) 95%), url("../assets/theme.svg") no-repeat top left;
    background-size: cover; } }
