@import "base.scss";
body {
    background: url(../assets/benefits.svg) no-repeat top left;
    background-size: cover;
}

.dropdown {
    position: fixed;
    z-index: 10;
}
.header {
    .icon {
        font-size: 50px;
        color: $primary-color;
    }
    h1 {
        margin-top: 50px;
        margin-bottom: 25px;
    }
}

.sponsor-page {
    .header {
        p {
            margin: 10px 0px;
        }
    }
    .benefit-piece {
        margin-top: 20px;
        .checkmark {
            height: 50px;
        }
        .checkmark:hover {
            -webkit-filter: hue-rotate(225deg);
            -moz-filter: hue-rotate(225deg);
            filter: hue-rotate(225deg);
        }
    }
    .partner-piece {
        img {
            height: 150px;
        }
        .card {
            background-color: white;
        }
    }
}
