@import "base.scss";
body {
    background: url(../assets/contact.svg) no-repeat top left;
    background-size: cover;
}
.team-page {
    .header {
        .icon {
            font-size: 50px;
            color: $primary-color;
        }
    }
    #curator {
        padding: 30px;
    }
}
.profile {
    p {
        margin: 0px;
        padding: 0px 10px 10px 10px
    }
    .body-text {
        @extend .center-text;
        max-width: 175px;
    }
    img {
        height: 200px;
    }
}
