@import "base.scss";
body {
    background: url(../assets/contact.svg) no-repeat top left;
    background-size: cover;
}

.columns {
    margin-top: +15px;
}

.header {
    .icon {
        font-size: 50px;
        color: $primary-color;
    }
    h1 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.team-page {
    #curator {
        padding: 30px;
    }
    .card {
        background-color: white;
        max-width: 200px;
    }
}

.profile {
    p {
        margin: 0px;
        padding: 0px 10px 10px 10px
    }
    .body-text {
        @extend .center-text;
        max-width: 175px;
    }
    img {
        height: 64px;
    }
}
